<!-- <div class="pagination-box"> -->
  <nz-pagination (click)='getData()' class="pagination" [(nzPageIndex)]="pageIndex" [(nzTotal)]="total" [(nzPageSize)]='size' ></nz-pagination>
  <!-- <div class="listSize">
   <span>每页显示条数</span> <input nz-input placeholder="Basic usage" [(ngModel)]="value">
  </div>
</div>
<span>当前页数：{{pageIndex}}
  <br> size: {{size}}
  <br> total:{{total}}</span> -->
<!-- <a [routerLink]="['../articleList']" [queryParams]="{size:size}">文章列表</a> -->
<!-- [(nzPageSize)]='size'   nzShowSizeChanger nzShowQuickJumper-->
