.formbox {
  div {
    margin: 20px 0;
    display: flex;
    span {
      display: flex;
      font-weight: 500;
      min-width: 10%;
      align-items: center;
      color: #000;
    }
  }
  p {
    margin: 0;
    color: red;
  }
  /* 输入错误弹窗 */
}

[nz-button] {
  margin-right: 8px;
  margin-bottom: 12px;
}
