<app-search-article (getSearch)='getSearch($event)'></app-search-article>
<div class="listTitle">
  <span>Article列表</span>
  <a class="newArticle" [routerLink]="['../new']">+新增</a>
</div>
<table class="listBox">
  <thead>
    <tr>
      <th>ID</th>
      <th>名称</th>
      <th>类型</th>
      <th>发布时间</th>
      <th>修改时间</th>
      <th>发布者</th>
      <th>状态</th>
      <th>操作</th>
    </tr>
  </thead>
  <tr class="ariticleList" *ngFor='let al of articleList; let num = index; let odd = odd ' [ngStyle]="{'background-color':odd%2===0?'#ddd':'#fff'}">
    <td>{{num+1}}</td>
    <!-- ID -->
    <td>{{al.title}}</td>
    <!-- 名称 -->
    <td>{{changeType(al.type)}}</td>
    <!-- 类型，需要通过方法进行转换 -->
    <td>
      <p>{{al.createAt | date:'yyyy-MM-dd'}}</p>
      <p>{{al.createAt | date:'HH:mm:ss'}}</p>
    </td>
    <!-- 发布时间 -->
    <td>
      <p>{{al.updateAt | date:'yyyy-MM-dd'}}</p>
      <p>{{al.updateAt | date:'HH:mm:ss'}}</p>
    </td>
    <!-- 更新时间 -->
    <td>{{al.author}}</td>
    <!-- 发布者 -->
    <td>{{changeStatusWord(al.status)}}</td>
    <!-- 状态 -->
    <td>
      <a on-click='changedStatu(al.status,al.id)'>{{changeStatus(al.status)}}</a>
      <a on-click='getdata(al)' [routerLink]="['../articleEdit',al.id]">编辑</a>
      <a>删除</a>
    </td>
    <!-- 操作 -->
  </tr>
</table>
<app-pagination [input]='total' (pagination)='getpagination($event)'></app-pagination>

<!-- <router-outlet></router-outlet> -->
