.ariticleList {
    P {
        padding: 0;
        margin: 0;
    }
}

.listTitle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
    span {
        color: #000;
        font-weight: 500;
        font-family: fantasy;
        font-size: 20px;
    }
}

.listBox {
    width: 100%;
    border: 1px solid #f0f0f0;
    tr:nth-child(1) {
        border-bottom: 1px solid #000;
    }
    th,td {
        padding:15px 20px;
        margin: 0 10px;
        max-width: 280px;
        border-top: 1px solid #ddd;
        white-space: nowrap;
        text-align: center;
    }
    a {
        margin: 0 15px;
    }
}